.section-2 {
  //   .container {
  //   }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.875rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.875rem;
    }
  }

  h1 {
    grid-column: 1/-1;
    margin-bottom: 3.125rem;
    font-size: 1.625rem;
    font-family: "Josefin Sans";
    text-transform: uppercase;

    @media (min-width: 1024px) {
      grid-column: 1/3;
      justify-self: start;
      margin-bottom: 1.8rem;
    }
  }

  &__image--1 {
    background-image: url("../images/mobile/image-deep-earth.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-deep-earth.jpg");
    }

    &::before {
      content: "Deep earth";
    }
  }

  &__image--2 {
    background-image: url("../images/mobile/image-night-arcade.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-night-arcade.jpg");
    }

    &::before {
      content: "Night arcade";
    }
  }
  &__image--3 {
    background-image: url("../images/mobile/image-soccer-team.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-soccer-team.jpg");
    }

    &::before {
      content: "Soccer team VR";
    }
  }
  &__image--4 {
    background-image: url("../images/mobile/image-grid.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-grid.jpg");
    }

    &::before {
      content: "The grid";
    }
  }
  &__image--5 {
    background-image: url("../images/mobile/image-from-above.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-from-above.jpg");
    }

    &::before {
      content: "From up above VR";
    }
  }

  &__image--6 {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-pocket-borealis.jpg");
    }

    &::before {
      content: "Pocket borealis";
    }
  }
  &__image--7 {
    background-image: url("../images/mobile/image-curiosity.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-curiosity.jpg");
    }

    &::before {
      content: "The curiosity";
    }
  }
  &__image--8 {
    background-image: url("../images/mobile/image-fisheye.jpg");

    @media (min-width: 768px) {
      background-image: url("../images/desktop/image-fisheye.jpg");
    }

    &::before {
      content: "Make it fisheye";
    }
  }

  .btn {
    grid-column: 1/-1;
    max-width: 200px;
    font-family: "Alata";
    background-color: transparent;
    padding: 13px 50px;
    margin: 3.125rem auto;
    border: 2px solid $black;
    font-size: 0.9375rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: $halfSecond;

    &:hover {
      background-color: $black;
      color: $white;
    }

    @media (min-width: 1024px) {
      grid-column: 3/5;
      grid-row: 1;
      justify-self: end;
      margin: 0 0 1.8rem 0;
    }
  }
}
