.section-1 {
  .container {
    position: relative;
  }

  &__image {
    margin-bottom: 2.8rem;

    @media (min-width: 850px) {
      text-align: left;
    }

    img {
      width: 100%;

      @media (min-width: 850px) {
        width: 60%;
      }

      @media (min-width: 1024px) {
        width: 80%;
      }

      @media (min-width: 1240px) {
        width: 65%;
      }
    }
  }

  &__article {
    @media (min-width: 850px) {
      position: absolute;
      bottom: 50px;
      right: -140px;
      transform: translateX(-50%);
      background-color: white;
      padding: 3.125rem 0 3.125rem 1.875rem;
      width: 50%;
    }

    @media (min-width: 1024px) {
      width: 38%;
    }

    @media (min-width: 1240px) {
      height: 50%;
      bottom: 88px;
      right: -81px;
      padding: 4.125rem 0 4.125rem 3.875rem;
    }

    padding: 0 1.875rem;
    h1 {
      margin-bottom: 1rem;
      font-family: "Josefin Sans";
      text-transform: uppercase;
      font-size: 1.9rem;
      font-weight: 300;

      @media (min-width: 320px) {
        font-size: 1.5rem;
      }

      @media (min-width: 360px) {
        font-size: 1.8rem;
      }

      @media (min-width: 850px) {
        font-size: 1.5rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.2rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: $darkGray;

      @media (min-width: 320px) {
        font-size: 0.9rem;
      }

      @media (min-width: 360px) {
        font-size: 1rem;
      }

      @media (min-width: 640px) {
        font-size: 1.2rem;
      }

      @media (min-width: 850px) {
        font-size: 1rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.1rem;
      }
    }
  }
}
